* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}

.logo-img {
  height: 70px;
  width: auto;
}

.container {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
}

.central {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.central-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  z-index: 2;
  object-fit: contain;
}

.text-overlay h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: 900;
  color: #00249C;
  z-index: 1;
  white-space: nowrap;
}

.text-overlay h2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 700;
  color: #00249C;
  z-index: 3;
  white-space: nowrap;
}

.main-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #00249C;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:hover {
  background-color: #0e27b3af;
}

.bottom-links {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15rem;
  font-size: 1rem;
}

.bottom-links a {
  color: #00249C;
  text-decoration: none;
}

.bottom-links a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .text-overlay h1 {
    font-size: 10vw;
  }

  .text-overlay h2 {
    font-size: 6vw;
  }

  .main-button {
    width: 100%;
  }
  .central-img {
    max-width: 90vw;
  }
}
