<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monitoring Innovation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="container">
     <img src="{{ url_for('static', filename='assets/Imagologo_motion.svg') }}" alt="logo" class="logo-img">
    <div class="content">
      <img src="{{ url_for('static', filename='assets/Telefono-01.png') }}" alt="central image" class="central-img">
      <div class="text-overlay">
        <h1 class="titulo">BIENVENIDO A</h1>
        <h2 class="subtitulo">MONITORING INNOVATION</h2>
      </div>
    </div>
    <button class="main-button" onclick="location.href='{{ url_for('views.registro') }}'">Registro</button>
  </div>

  <div class="bottom-links">
    <a href="https://monitoringinnovation.com/" target="_blank">MONITORING INNOVATION</a>
    <a href="https://gpscontrol.co/" target="_blank">GPS CONTROL</a>
    <a href="https://github.com/tuusuario/frontend-repo" target="_blank">LINK REPO FRONT</a> <!--falta agregar el link-->
    <a href="https://github.com/tuusuario/backend-repo" target="_blank">LINK REPO BACK</a>  <!--falta agregar el link-->
  </div>
</body>
</html>
